/* .sub-container {
	height: 100vh;
	width: 100vw;
	position: absolute;
	background: rgba(255, 255, 255, 0.095);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);

	background: rgb(238, 174, 202);
	background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, #aed9e0 100%);
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	z-index: 10;
} */

.sub-wrapper {
	position: absolute;
	height: 30vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0.5);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	border: 1px solid rgba(255, 255, 255, 0.25);
	background: rgb(238, 174, 202);
	background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, #aed9e0 100%);
	box-shadow: 3px 3px 3px 0.3px #aed9e0;
	/* outline: 2px #aed9e0; */
}
