.sectionTwoWrapper {
	/* margin: 1rem 0; */
}

.pricing-intro {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.features-wrapper {
	height: auto;
	display: grid;
	width: 100%;
	grid-template-rows: 1fr;

	/* padding: 2rem 10rem; */
}

.feature {
	min-height: 20vh;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;

	padding: 1rem;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);

	color: white;
	background: rgb(238, 174, 202);
	background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, #aed9e0 100%);
	border-radius: 24px;
	margin: 0.5rem 0;

	/* text-align: center; */
}

.features-wrapper .odd {
	/* background: none; */
}
.feature-img-one,
.feature-img-two,
.feature-img-three,
.feature-img-four {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.feature-img-one {
	background-image: url("../../../assets/img1.jpg");
}
.feature-img-two {
	background-image: url("../../../assets/img2.jpg");
}
.feature-img-three {
	background-image: url("../../../assets/img3.jpg");
}
.feature-img-four {
	background-image: url("../../../assets/img4.jpg");
}
@media screen and (min-width: 1000px) {
	.sectionTwoWrapper {
		padding: 3rem 1rem;
		padding: 0 20rem;
	}
	.features-wrapper {
		height: auto;
		display: grid;

		grid-template-columns: repeat(2, 50%);
		/* grid-template-rows: repeat(2, 50%); */
	}

	.feature {
		margin: 1rem;
		min-height: 30vh;
	}
}
